.home-info {
  background-color: #f8f6f7;
  margin: 120px 0 0 0;
  padding: 30px 50px 0 50px;
}

.uniqeness {
  margin-top: 50px;
  display: flex;
}
.uniqeness-img {
  padding: 0 20px;
}
.uniqeness img {
  width: 370px;
}

.uniqeness .uniqness-desc {
  padding-top: 20px;
  text-align: left;
}
.uniqeness .uniqness-desc p {
  letter-spacing: 2px;
  font-size: 1.1rem;
}

.home-booking-section {
  position: absolute;
  width: 100%;
  background-color: #0000003b;
  display: flex;
  justify-content: center;
  height: 90px;
}

.home-booking-form {
  display: flex;
  width: 60%;
  padding-top: 28px;
}

#homeLogo {
  position: relative;
  bottom: -8%;
}
#homeLogo img {
  height: calc(55vw - 148px);
  max-width: 438px;
  max-height: 346px;
}

.bounceY {
  color: white;
  position: relative;
  bottom: -3.4rem;
  font-size: 4rem;
  animation: bounceY 2s ease infinite;
}

.content-more {
  position: absolute;
  bottom: 35px;
  right: 87px;
  border-left-color: inherit;
  border-left: 2px solid;
  padding-left: 7px;
}

.content-more a {
  text-decoration: none;
  color: inherit;
}

@keyframes bounceY {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.carousol-overlay {
  position: absolute;
  left: 32vw;
  bottom: 20px;
  background: #00000052;
  border-radius: 50%;
  width: 55vw;
  height: 55vw;
  max-width: 493px;
  max-height: 493px;
}
