.exp-info-title span {
  font-size: 2rem;
  font-weight: 600;
  color: #694a35;
}

.exp-info-title hr {
  color: #f0d065;
  border-top: 3px solid;
  border-bottom: 0;
  width: 180px;
}

.exp-info-imgs {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 50px;
  justify-content: center;
}

.info-card-title {
  width: 100%;
  position: absolute;
  z-index: 10;
}

.info-card-img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.exp-info-img:nth-child(odd) {
  margin-right: 25px;
}

.exp-info-img {
  position: relative;
  background-color: #f8f6f7;
  min-width: 500px;
  width: 48%;
  height: 586px;
  margin-bottom: 25px;
}

.seasons .exp-info-img {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.seasons .exp-info-img:nth-child(even) {
  flex-direction: row-reverse;
}

.seasons .exp-info-img:nth-child(odd) {
  margin-right: 0;
}

.season-bk {
  position: relative;
  width: 50%;
  height: 73vh;
  background-repeat: no-repeat;
  min-width: 400px;
  background: center;
  flex: 1 1 0;
}

.season-txt {
  min-width: 400px;
  width: 50%;
  color: var(--text-color);
  font-weight: 600;
  line-height: 1.8rem;
  text-align: justify;
  flex: 1 1 0;
}

.exp-info-title {
  color: #694a35;
  font-size: 2rem;
  margin-top: 40px;
}

.top-carousol {
  width: 100%;
}

.top-carousol .bounceY {
  position: absolute;
  bottom: 1vh;
  left: 46vw;
}

.activities-container {
  padding: 0 70px;
  text-align: justify;
  font-weight: 600;
  color: var(--text-color);
}
